.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header-text-2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
  text-decoration: none;
}

.header-text {
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.header-text:hover {
  color: #4caf50;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-button {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 2px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a .header-button {
  text-decoration: none;
}

a.header-button:hover {
  background-color: #111;
  color: #4caf50;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-button {
    width: 100%;
    text-align: center;
  }
}