/* Basic flex for a row with 2 button */
.row2 {
  display: flex;
  justify-content: flex-start;
}

.row2-space-between {
  display: flex;
  justify-content: space-between;
}

.green-button {
  text-decoration: none;
  padding: 10px 20px;
  cursor: grab;
  margin: 0 2px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.green-button:hover {
  background-color: #111;
  color: #4caf50;
}

.green-button:disabled,
.green-button[disabled] {
  background-color: #888;
  color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.full-w {
  width: 100%;
}
